.controlButton {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.containerTask {
  background-color: #e3e3e3;
  color: #3d3d3d;
  border-radius: 5px;
  margin-top: 5px;
  padding: 7px;
}

.containerTask:hover .controlButton {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.35s;
}
